---
import dayjs from "dayjs";
---

<footer
	class="border-muted-foreground sticky top-full container mt-16 border-t"
>
	<div class="flex h-full items-center justify-center py-8">
		<p class="text-muted-foreground text-sm">
			&copy; {dayjs().format("YYYY")} Ohno Keita
		</p>
	</div>
</footer>
